<!DOCTYPE html>
<html>
  <head>
  	<meta content='text/html; charset=UTF-8' http-quiv='Content-Type' />
  </head>
  <body>
  	<h1>Hi there <%= @user.email %></h1>
  	<p>
  		Welcome to WebWitchDev
  	</p>
  </body>
  </html>